<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Page</title>
</head>
<body>
    <h1>Full Complaint detail page</h1>
    Name: <p><%=complaint.Name%></p><br>
    Date: <p><%=complaint.Date%></p><br>
    Mobile: <p><%=complaint.Mobile%></p><br>
    UID: <p><%=complaint.UID%></p><br>
    State: <p><%=complaint.State%></p><br>
    City: <p><%=complaint.City%></p><br>
    Gender: <p><%=complaint.Gender%></p><br>
    Complaint Body : <p><%=complaint.ComplaintBody%></p><br>

    <form action="/AddComment" method="post">
        <input type="text" name="comment" style="width: 400px;height: 80px;"><br><br>
        <input type="text" name="cid" id="" value="<%=cid%>" hidden>
        <input type="text" name="uid" id="" value="<%=complaint.UID%>" hidden>

        <button type="submit"> Post</button>
    </form>
</body>
</html>